<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awesomeproject2"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="26" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="TEST-4WZ-9K6-RZ5Z" />
      <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="TEST-63c-104" />
      <receiver
            android:name="com.clevertap.android.sdk.InstallReferrerBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
      </receiver>
      <meta-data
            android:name="CLEVERTAP_NOTIFICATION_ICON"
            android:value="@mipmap/ic_launcher" />
      <activity
            android:name="com.clevertap.android.sdk.InAppNotificationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
      <meta-data
            android:name="CLEVERTAP_INAPP_EXCLUDE"
            android:value="SplashActivity1, SplashActivity2" />
      <receiver
            android:name="com.clevertap.android.sdk.CTPushNotificationReceiver"
            android:exported="false"
            android:enabled="true">
      </receiver>
    </application>

</manifest>
